Whatsapp Integration/3. WhatsApp Google Workspace - Google Calendar Integration/3. WhatsApp Google Workspace - Google Calendar Integration.json
{
  "name": "2. WhatsApp Google Workspace - Google Calendar Integration",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Prompt_User_Message }}",
        "options": {
          "systemMessage": "=You are an intelligent and helpful Google Workspace AI Assistant. Your goal is to help the user manage their Calendar, Emails, and Documents efficiently. \n\nCURRENT CONTEXT: \nThe current date and time is: {{ $now.format('cccc, MMMM do yyyy, h:mm a') }}. Always use this as your reference point for relative terms like \"today,\" \"tomorrow,\" or \"next Tuesday.\"\n\nTOOL USAGE RULES:\n1. You have access to specialized tools (like Google Calendar). YOU MUST USE THESE TOOLS to fetch real data or perform actions when the user asks about their schedule, emails, or files.\n2. Never guess or fabricate calendar events, emails, or file contents. If you cannot find the information using your tools, tell the user directly.\n3. If the user asks you to perform an action for a Workspace app you do not yet have a tool for (e.g., Gmail, Drive), politely inform them that you do not have that integration set up yet.\n\nOUTPUT GUIDELINES:\n* Keep every response concise, natural, and easy to understand. \n* Prefer 1–4 short sentences. \n* Use bullets only when they make the answer clearer (like listing events). \n* Answer the user directly without long introductions (e.g., do not say \"Here are your events:\"). \n* If a request is unclear or missing necessary details (like a missing time for a new meeting), ask one short clarifying question."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        288
      ],
      "id": "879d40cb-d715-464a-be58-381ea17c2791",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        736
      ],
      "id": "1f4096e0-1833-408e-846b-34effdd83a63",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qiofXE8Mfl0ODekr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        880
      ],
      "id": "9eef938f-8ecd-451a-8592-538c4d25a702",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3041f10a-185a-456b-a424-72292ff80fcb",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cce7ddab-bb97-4f5d-8316-496d890f6d78",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "asd",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        -288
      ],
      "id": "3f3533e1-298c-4c67-aa0c-52f53a52e217",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        -304
      ],
      "id": "5b6472ee-cd52-483c-900a-59ef437b804b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": 200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2304,
        144
      ],
      "id": "dfcb35b8-0895-436e-b62c-40ae1f2de088",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8a5b90a-506a-4732-958f-5efc6afb6211"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "299e16a0-16f1-47dd-a8a7-f9a7f5de94d6",
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cafcc395-046a-4a48-8d82-7bb03e50b1f4",
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "13e5a3a1-dd84-4603-bff8-6fb637502ce3",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.statuses }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Statuses CallBack"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1056,
        448
      ],
      "id": "3f64653b-23f0-40a0-93f8-57f672f0f566",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "mediaPropertyName": "=data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1712,
        320
      ],
      "id": "186804a2-75ea-416c-ab04-f75c51973efd",
      "name": "Send message Voice",
      "webhookId": "5d5294d8-3480-4b92-9530-16a18db924ae",
      "credentials": {
        "whatsAppApi": {
          "id": "HnSBPZOCFMRWufD7",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "text": "Analyze the image and return a short & Concise response. ",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -208,
        288
      ],
      "id": "a9fdc61a-bd0f-4c1c-b831-b8daaccc9ae4",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "qiofXE8Mfl0ODekr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -224,
        528
      ],
      "id": "ef6c2433-00a1-4432-8128-bf243b26035b",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "qiofXE8Mfl0ODekr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {
          "response_format": "aac"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1424,
        320
      ],
      "id": "bb654ca9-b130-48f9-a040-6c4c0bda510b",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "qiofXE8Mfl0ODekr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].image.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer EAASmW6wxgsMBRZBDNLl0SUGhZBwRZCpBRYgMRhmIDZAZBLt3eDJLe2YfHRLvC0ieilxaOcGhxEI5e5WrMGWWQD8ZCEiEhD0GeiueFrfBu6pZBrxMPosZCPmwgleYZCRyxacHMNbZCWZB9pA1HUmjzW3ZBiIZAHHfLF8fYyLZBHod8aLH5qctXklZAaZA2xonj1D3ayYkVZBiwcQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        288
      ],
      "id": "639502bf-dd93-418f-a6d9-3be8ad5fec7a",
      "name": "HTTP Request Image"
    },
    {
      "parameters": {
        "url": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].audio.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAASmW6wxgsMBRZBDNLl0SUGhZBwRZCpBRYgMRhmIDZAZBLt3eDJLe2YfHRLvC0ieilxaOcGhxEI5e5WrMGWWQD8ZCEiEhD0GeiueFrfBu6pZBrxMPosZCPmwgleYZCRyxacHMNbZCWZB9pA1HUmjzW3ZBiIZAHHfLF8fYyLZBHod8aLH5qctXklZAaZA2xonj1D3ayYkVZBiwcQZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        528
      ],
      "id": "833ad5aa-5a54-4125-82e8-edf384593c89",
      "name": "HTTP Request Voice"
    },
    {
      "parameters": {
        "content": "## Webhook Verification & Challenge \n",
        "height": 96,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -240
      ],
      "id": "4ddee4b6-e15d-4d1a-badb-1cf7d8c7c2ea",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Switch to Idenify Incoming Message Type",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        320
      ],
      "id": "f028cc68-56ef-4368-b66a-2103163c3249",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8a5b90a-506a-4732-958f-5efc6afb6211"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "299e16a0-16f1-47dd-a8a7-f9a7f5de94d6",
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cafcc395-046a-4a48-8d82-7bb03e50b1f4",
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        992,
        160
      ],
      "id": "66895f59-0d39-4b30-85cf-28a47afbebcb",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "## Bearer WhatsApp Access Token in HTTP to Get Voice/Image",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        416
      ],
      "id": "82b3831d-2f74-4497-ba2f-732e9dbf884d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Helpful AI Agent template ",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        144
      ],
      "id": "1f422edc-d166-430b-abed-7f8247a410e9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Memory is based on Phone Number",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        1024
      ],
      "id": "4408a541-1532-4835-b518-3e9453204411",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Switch to Idenify Message Based on Incoming  Type of Message\n",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        16
      ],
      "id": "fa7c2733-46ab-45ba-9812-dc3672eb6e3e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4dba0e-2406-487a-b7d2-d7342aa55ed5",
              "name": "Prompt_User_Message",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        304
      ],
      "id": "c0f10bef-5354-4639-84ca-f9e8df496d60",
      "name": "Image To Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4dba0e-2406-487a-b7d2-d7342aa55ed5",
              "name": "Prompt_User_Message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        512
      ],
      "id": "02ef48fd-f835-4026-80d2-fdf7a8b9bf99",
      "name": "Voice to Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4dba0e-2406-487a-b7d2-d7342aa55ed5",
              "name": "Prompt_User_Message",
              "value": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        32
      ],
      "id": "0cc40b06-f154-4f70-86b5-c1e009b4b818",
      "name": "Plain Text"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": 200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -432,
        848
      ],
      "id": "6ce61b0b-9438-42a6-9019-3e79abc17568",
      "name": "Status Call Back"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": 200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -432,
        1040
      ],
      "id": "66ac1623-6ce5-4e58-9099-843713e50c49",
      "name": "Fallback Message Event Received"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1568,
        160
      ],
      "id": "d3b2fd8a-61ba-44cb-bf61-5744ca94dd7b",
      "name": "Send message Text & Image",
      "webhookId": "48662297-6580-4d7d-adf4-90c90831ee0f",
      "credentials": {
        "whatsAppApi": {
          "id": "HnSBPZOCFMRWufD7",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "5609d95d-804a-4262-ac1e-5c7b055887b0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1456,
        0
      ],
      "id": "96cff4e5-246e-46a3-883e-363e857d4f08",
      "name": "Incoming WhatsApp",
      "webhookId": "5609d95d-804a-4262-ac1e-5c7b055887b0"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to retrieve, list, or search for upcoming events in the user's Google Calendar. Use this when the user asks about their schedule, appointments, or availability.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "send2aymal@gmail.com",
          "mode": "list",
          "cachedResultName": "send2aymal@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Asia/Karachi",
            "mode": "list",
            "cachedResultName": "Asia/Karachi"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        624
      ],
      "id": "e2678dc0-4ed5-421c-938f-9ceee2239832",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GaTBpPfRC7iLihY2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Events Google Calendar",
        "height": 96,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        688
      ],
      "id": "2a20477b-1e76-477a-a967-8c530ab0d185",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Plain Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status Call Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Message Event Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image To Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message Voice": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Voice to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send message Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send message Text & Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message Text & Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image To Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice to Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plain Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message Text & Image": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming WhatsApp": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e4c51915-f9a0-4cce-ab4f-6376827dc199",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "412f9186c660e505529e1eb6f8f3721b314d14d606e2c4647f54d8d8b5078893"
  },
  "nodeGroups": [],
  "id": "y8Ey6qTbVPCFHZas",
  "tags": []
}