Whatsapp Integration/2. Incoming WhatsApp Router - AI Agent - Text  Voice  Vision/2. Incoming WhatsApp Router -_ AI Agent -_ Text _ Voice _ Vision.json
{
  "name": "Incoming WhatsApp Router -> AI Agent -> Text / Voice / Vision",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "294d6837-3d11-46ca-a15e-0c9555d614da",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1456,
        0
      ],
      "id": "06fed6e2-e890-454f-9a19-040550e101b3",
      "name": "Incoming WhatsApp",
      "webhookId": "144a1ea3-c3a5-4e44-a7c0-72cffa447ce1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Prompt_User_Message }}",
        "options": {
          "systemMessage": "You are a friendly, general-purpose AI assistant. Answer using only your internal knowledge. Do not use tools, browse the web, call APIs, or fetch external data. Keep every response concise, natural, and easy to understand. Prefer 1–4 short sentences. Use bullets only when they make the answer clearer. Answer the user directly. Do not add background information, long introductions, repeated wording, or unnecessary explanations. If the question is unclear, ask one short clarifying question."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        288
      ],
      "id": "12e4912a-076c-4e06-8f12-c5f8a856047a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "maxTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        736
      ],
      "id": "989db2cd-acba-43d8-a457-0d4ac867b1c1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qiofXE8Mfl0ODekr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        880
      ],
      "id": "357f5f33-31b9-4e9d-844e-02a97fd6435f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3041f10a-185a-456b-a424-72292ff80fcb",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cce7ddab-bb97-4f5d-8316-496d890f6d78",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "asd",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        -288
      ],
      "id": "8def5e6a-0fa8-4851-a15e-90d1e5d188a5",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        -304
      ],
      "id": "53cc87d0-c425-41fe-923e-a887b4f7fec7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": 200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2304,
        144
      ],
      "id": "aa8b9d85-5814-402e-a6f5-b7f4e717fdc8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8a5b90a-506a-4732-958f-5efc6afb6211"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "299e16a0-16f1-47dd-a8a7-f9a7f5de94d6",
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cafcc395-046a-4a48-8d82-7bb03e50b1f4",
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "13e5a3a1-dd84-4603-bff8-6fb637502ce3",
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.statuses }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Statuses CallBack"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1056,
        448
      ],
      "id": "97ecb67d-bddf-4970-b0b6-7ca126052c5d",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "mediaPropertyName": "=data",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1712,
        320
      ],
      "id": "aab62972-a3fb-4d55-89f4-17fdb884e11e",
      "name": "Send message Voice",
      "webhookId": "7bc83fbe-59e9-4538-8d0b-eea8c39b1760",
      "credentials": {
        "whatsAppApi": {
          "id": "HnSBPZOCFMRWufD7",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "text": "Analyze the image and return a short & Concise response. ",
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -208,
        288
      ],
      "id": "0c382367-6d53-418e-92e7-271b235be446",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "qiofXE8Mfl0ODekr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1712,
        128
      ],
      "id": "5ac39e4d-1dd8-45ad-ac64-46b90d7f0b51",
      "name": "Send message Image",
      "webhookId": "7bc83fbe-59e9-4538-8d0b-eea8c39b1760",
      "credentials": {
        "whatsAppApi": {
          "id": "HnSBPZOCFMRWufD7",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -224,
        528
      ],
      "id": "8a3bd2fe-c77e-4e65-9b9f-e7e2a1477514",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "qiofXE8Mfl0ODekr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {
          "response_format": "aac"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1424,
        320
      ],
      "id": "bf8af9de-f82d-4e1b-ae25-a7c120a31c5b",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "qiofXE8Mfl0ODekr",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].image.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer EAASmW6wxgsMB......."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -512,
        288
      ],
      "id": "bcb63362-8a1d-4fd9-a148-6ef7af379173",
      "name": "HTTP Request Image"
    },
    {
      "parameters": {
        "url": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].audio.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAASmW6wxgsMB......."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        528
      ],
      "id": "83b45246-7d04-4751-a5d8-7b9ab0fc139d",
      "name": "HTTP Request Voice"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1696,
        -96
      ],
      "id": "2a810f1a-fd98-4cf9-a1c3-f642f194313e",
      "name": "Send message Text",
      "webhookId": "7bc83fbe-59e9-4538-8d0b-eea8c39b1760",
      "credentials": {
        "whatsAppApi": {
          "id": "HnSBPZOCFMRWufD7",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Webhook Verification & Challenge \n",
        "height": 96,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        -240
      ],
      "id": "04487c97-3eb0-4b41-b574-6a13a8bcbb65",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Switch to Idenify Incoming Message Type",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        320
      ],
      "id": "3b4079e6-1490-48c2-8e63-896a761a905e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a8a5b90a-506a-4732-958f-5efc6afb6211"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "299e16a0-16f1-47dd-a8a7-f9a7f5de94d6",
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cafcc395-046a-4a48-8d82-7bb03e50b1f4",
                    "leftValue": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        992,
        160
      ],
      "id": "37e615a2-2111-4984-a429-f77c710d80fc",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "## Bearer WhatsApp Access Token in HTTP to Get Voice/Image",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        416
      ],
      "id": "12c5b76e-9fc0-4a7d-beda-d3820a1f7bb5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Helpful AI Agent template ",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        144
      ],
      "id": "0fd459c5-1850-4f36-af27-d1de6f893946",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Memory is based on Phone Number",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        880
      ],
      "id": "d0fd9dfe-541a-4e8b-9d1b-1f336f3b4079",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Switch to Idenify Message Based on Incoming  Type of Message\n",
        "height": 112,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        16
      ],
      "id": "9750a4c6-9d27-402a-9d6e-5fbf1b6d4762",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4dba0e-2406-487a-b7d2-d7342aa55ed5",
              "name": "Prompt_User_Message",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        304
      ],
      "id": "f9c91b6c-0f0b-4caa-b821-c9b763733a70",
      "name": "Image To Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4dba0e-2406-487a-b7d2-d7342aa55ed5",
              "name": "Prompt_User_Message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        512
      ],
      "id": "7ed3aef2-a72b-49f6-bb7f-5d4e70f052e9",
      "name": "Voice to Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4dba0e-2406-487a-b7d2-d7342aa55ed5",
              "name": "Prompt_User_Message",
              "value": "={{ $('Incoming WhatsApp').item.json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        32
      ],
      "id": "ce4b3597-7e96-46b0-bc7e-2a5123abedc4",
      "name": "Plain Text"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": 200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -432,
        848
      ],
      "id": "ac593d6a-2c0e-4c6a-8595-cb408389e54a",
      "name": "Status Call Back"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": 200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -432,
        1040
      ],
      "id": "7a70facd-e34a-478e-97af-0069a671b6cc",
      "name": "Fallback Message Event Received"
    }
  ],
  "pinData": {},
  "connections": {
    "Incoming WhatsApp": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Plain Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Status Call Back",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Message Event Received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message Image": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image To Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message Voice": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Voice to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send message Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message Text": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send message Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image To Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice to Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plain Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c0600e31-7221-4735-bc1e-5f14097e0b03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "412f9186c660e505529e1eb6f8f3721b314d14d606e2c4647f54d8d8b5078893"
  },
  "nodeGroups": [],
  "id": "vWSh7KYE98lyIFip",
  "tags": []
}
